<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>大鸭梨博客</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <style>
        .layui-input-block textarea {
            min-height: 270px;
            min-width: 300px;
            width: 80%;
        }
        .layui-form input{
            width: 80%;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
