USE [DayaliBlogDB]
GO
/****** Object:  Table [dbo].[T_BLOG_CATELOG]    Script Date: 2017/3/12 19:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BLOG_CATELOG](
	[CatelogID] [int] IDENTITY(1,1) NOT NULL,
	[ParentCategID] [int] NULL,
	[CatelogName] [char](10) NOT NULL,
	[CreateUser] [int] NOT NULL,
	[CreateTime] [datetime] NULL,
	[UpdateUser] [int] NOT NULL,
	[UpdateTime] [datetime] NULL,
	[Remark] [varchar](1024) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_BLOG_CATELOG_REL]    Script Date: 2017/3/12 19:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BLOG_CATELOG_REL](
	[BlogID] [int] NOT NULL,
	[CatelogID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_BLOG_COLLECT]    Script Date: 2017/3/12 19:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BLOG_COLLECT](
	[CollectID] [int] IDENTITY(1,1) NOT NULL,
	[CollectState] [int] NOT NULL,
	[BlogID] [int] NOT NULL,
	[Collecter] [int] NOT NULL,
	[CollectTime] [datetime] NULL,
	[Remark] [varchar](1024) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_BLOG_COMMENT]    Script Date: 2017/3/12 19:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BLOG_COMMENT](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[PassiveID] [int] NOT NULL,
	[ReplyType] [int] NOT NULL,
	[ReplyComment] [varchar](max) NULL,
	[ReplyState] [bit] NULL,
	[BlogID] [int] NOT NULL,
	[ReplyUserID] [int] NOT NULL,
	[ReplyTime] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_BLOG_CONTENT]    Script Date: 2017/3/12 19:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BLOG_CONTENT](
	[BlogID] [int] IDENTITY(1,1) NOT NULL,
	[BlogTitle] [varchar](1024) NOT NULL,
	[BlogContent] [varchar](max) NULL,
	[BlogType] [int] NOT NULL,
	[BlogState] [int] NOT NULL,
	[LastUptTime] [datetime] NULL,
	[CreateUser] [int] NOT NULL,
	[CreateTIme] [datetime] NULL,
	[UpdateUser] [int] NOT NULL,
	[UpdateTIme] [datetime] NULL,
	[Remark] [varchar](1024) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_BLOG_LOOK]    Script Date: 2017/3/12 19:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BLOG_LOOK](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [int] NOT NULL,
	[RederID] [int] NOT NULL,
	[ReadLastTime] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_BLOG_TAG]    Script Date: 2017/3/12 19:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BLOG_TAG](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [varchar](64) NOT NULL,
	[CreateUser] [int] NOT NULL,
	[CreateTime] [datetime] NULL,
	[UpdateUser] [int] NOT NULL,
	[UpdateTime] [datetime] NULL,
	[Remark] [varchar](1024) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_BLOG_TAG_REL]    Script Date: 2017/3/12 19:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BLOG_TAG_REL](
	[BlogID] [int] NOT NULL,
	[TagID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_PERSONAL]    Script Date: 2017/3/12 19:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PERSONAL](
	[PersonalID] [int] IDENTITY(1,1) NOT NULL,
	[PersonalName] [varchar](64) NOT NULL,
	[Gender] [int] NOT NULL,
	[Birthday] [date] NULL,
	[IdCard] [varchar](18) NULL,
	[AREA_ID] [varchar](10) NOT NULL,
	[Address] [varchar](1024) NULL,
	[TelPhone] [varchar](11) NULL,
	[CreateUser] [int] NULL,
	[CreateTime] [datetime] NULL,
	[UpdateUser] [int] NULL,
	[UpdateTime] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_SYS_AREA]    Script Date: 2017/3/12 19:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SYS_AREA](
	[AREA_ID] [varchar](10) NOT NULL,
	[AREA_TYPE] [tinyint] NOT NULL,
	[AREA_NAME] [varchar](100) NULL,
	[AREA_ORDER] [int] NULL,
	[sm] [varchar](32) NULL,
	[BELONG_AREA_ID] [varchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_SYS_CONFIG]    Script Date: 2017/3/12 19:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SYS_CONFIG](
	[ID] [int] NOT NULL,
	[NM] [varchar](32) NOT NULL,
	[SUB_ID] [int] NOT NULL,
	[SUB_NM] [varchar](32) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_SYS_USER]    Script Date: 2017/3/12 19:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SYS_USER](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](36) NOT NULL,
	[Password] [varchar](36) NOT NULL,
	[PersonalID] [int] NOT NULL,
	[QQOpenid] [varchar](516) NULL,
	[CreateUser] [int] NULL,
	[CreateTime] [datetime] NULL,
	[UpdateUser] [int] NULL,
	[UpdateTime] [datetime] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[T_BLOG_CATELOG] ON 

INSERT [dbo].[T_BLOG_CATELOG] ([CatelogID], [ParentCategID], [CatelogName], [CreateUser], [CreateTime], [UpdateUser], [UpdateTime], [Remark]) VALUES (1, NULL, N'Asp.Net   ', 1, NULL, 1, NULL, NULL)
INSERT [dbo].[T_BLOG_CATELOG] ([CatelogID], [ParentCategID], [CatelogName], [CreateUser], [CreateTime], [UpdateUser], [UpdateTime], [Remark]) VALUES (2, NULL, N'Android   ', 1, NULL, 1, NULL, NULL)
INSERT [dbo].[T_BLOG_CATELOG] ([CatelogID], [ParentCategID], [CatelogName], [CreateUser], [CreateTime], [UpdateUser], [UpdateTime], [Remark]) VALUES (3, NULL, N'IOS       ', 1, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_BLOG_CATELOG] OFF
SET IDENTITY_INSERT [dbo].[T_BLOG_TAG] ON 

INSERT [dbo].[T_BLOG_TAG] ([TagID], [TagName], [CreateUser], [CreateTime], [UpdateUser], [UpdateTime], [Remark]) VALUES (1, N'.Net Core', 1, NULL, 1, NULL, NULL)
INSERT [dbo].[T_BLOG_TAG] ([TagID], [TagName], [CreateUser], [CreateTime], [UpdateUser], [UpdateTime], [Remark]) VALUES (2, N'Sql Server', 1, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_BLOG_TAG] OFF
SET IDENTITY_INSERT [dbo].[T_PERSONAL] ON 

INSERT [dbo].[T_PERSONAL] ([PersonalID], [PersonalName], [Gender], [Birthday], [IdCard], [AREA_ID], [Address], [TelPhone], [CreateUser], [CreateTime], [UpdateUser], [UpdateTime]) VALUES (1, N'超级管理员', 1, CAST(N'1990-09-09' AS Date), N'370823199009091234', N'11020', N'北京西城', N'122333', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_PERSONAL] OFF
INSERT [dbo].[T_SYS_AREA] ([AREA_ID], [AREA_TYPE], [AREA_NAME], [AREA_ORDER], [sm], [BELONG_AREA_ID]) VALUES (N'11000', 1, N'北京市', 0, N'BJS', NULL)
INSERT [dbo].[T_SYS_AREA] ([AREA_ID], [AREA_TYPE], [AREA_NAME], [AREA_ORDER], [sm], [BELONG_AREA_ID]) VALUES (N'12000', 1, N'天津市', 0, N'TJS', NULL)
INSERT [dbo].[T_SYS_AREA] ([AREA_ID], [AREA_TYPE], [AREA_NAME], [AREA_ORDER], [sm], [BELONG_AREA_ID]) VALUES (N'13000', 1, N'河北省', 0, N'HBS', NULL)
GO
INSERT [dbo].[T_SYS_CONFIG] ([ID], [NM], [SUB_ID], [SUB_NM]) VALUES (1, N'性别', 1, N'男')
INSERT [dbo].[T_SYS_CONFIG] ([ID], [NM], [SUB_ID], [SUB_NM]) VALUES (1, N'性别', 2, N'女')
INSERT [dbo].[T_SYS_CONFIG] ([ID], [NM], [SUB_ID], [SUB_NM]) VALUES (1, N'性别', 3, N'未知')
SET IDENTITY_INSERT [dbo].[T_SYS_USER] ON 

INSERT [dbo].[T_SYS_USER] ([UserID], [UserName], [Password], [PersonalID], [QQOpenid], [CreateUser], [CreateTime], [UpdateUser], [UpdateTime]) VALUES (1, N'admin', N'123456', 1, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_SYS_USER] OFF
/****** Object:  Index [PK5]    Script Date: 2017/3/12 19:38:27 ******/
ALTER TABLE [dbo].[T_BLOG_CATELOG] ADD  CONSTRAINT [PK5] PRIMARY KEY NONCLUSTERED 
(
	[CatelogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK8]    Script Date: 2017/3/12 19:38:27 ******/
ALTER TABLE [dbo].[T_BLOG_COLLECT] ADD  CONSTRAINT [PK8] PRIMARY KEY NONCLUSTERED 
(
	[CollectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK10]    Script Date: 2017/3/12 19:38:27 ******/
ALTER TABLE [dbo].[T_BLOG_COMMENT] ADD  CONSTRAINT [PK10] PRIMARY KEY NONCLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK7]    Script Date: 2017/3/12 19:38:27 ******/
ALTER TABLE [dbo].[T_BLOG_CONTENT] ADD  CONSTRAINT [PK7] PRIMARY KEY NONCLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK9]    Script Date: 2017/3/12 19:38:27 ******/
ALTER TABLE [dbo].[T_BLOG_LOOK] ADD  CONSTRAINT [PK9] PRIMARY KEY NONCLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK6]    Script Date: 2017/3/12 19:38:27 ******/
ALTER TABLE [dbo].[T_BLOG_TAG] ADD  CONSTRAINT [PK6] PRIMARY KEY NONCLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK2]    Script Date: 2017/3/12 19:38:27 ******/
ALTER TABLE [dbo].[T_PERSONAL] ADD  CONSTRAINT [PK2] PRIMARY KEY NONCLUSTERED 
(
	[PersonalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK4]    Script Date: 2017/3/12 19:38:27 ******/
ALTER TABLE [dbo].[T_SYS_AREA] ADD  CONSTRAINT [PK4] PRIMARY KEY NONCLUSTERED 
(
	[AREA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK1]    Script Date: 2017/3/12 19:38:27 ******/
ALTER TABLE [dbo].[T_SYS_USER] ADD  CONSTRAINT [PK1] PRIMARY KEY NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_BLOG_CATELOG]  WITH CHECK ADD  CONSTRAINT [RefT_PERSONAL5] FOREIGN KEY([UpdateUser])
REFERENCES [dbo].[T_PERSONAL] ([PersonalID])
GO
ALTER TABLE [dbo].[T_BLOG_CATELOG] CHECK CONSTRAINT [RefT_PERSONAL5]
GO
ALTER TABLE [dbo].[T_BLOG_CATELOG]  WITH CHECK ADD  CONSTRAINT [RefT_USER4] FOREIGN KEY([CreateUser])
REFERENCES [dbo].[T_SYS_USER] ([UserID])
GO
ALTER TABLE [dbo].[T_BLOG_CATELOG] CHECK CONSTRAINT [RefT_USER4]
GO
ALTER TABLE [dbo].[T_BLOG_CATELOG_REL]  WITH CHECK ADD  CONSTRAINT [RefT_BLOG_CATELOG22] FOREIGN KEY([CatelogID])
REFERENCES [dbo].[T_BLOG_CATELOG] ([CatelogID])
GO
ALTER TABLE [dbo].[T_BLOG_CATELOG_REL] CHECK CONSTRAINT [RefT_BLOG_CATELOG22]
GO
ALTER TABLE [dbo].[T_BLOG_CATELOG_REL]  WITH CHECK ADD  CONSTRAINT [RefT_BLOG_CONTENT21] FOREIGN KEY([BlogID])
REFERENCES [dbo].[T_BLOG_CONTENT] ([BlogID])
GO
ALTER TABLE [dbo].[T_BLOG_CATELOG_REL] CHECK CONSTRAINT [RefT_BLOG_CONTENT21]
GO
ALTER TABLE [dbo].[T_BLOG_COLLECT]  WITH CHECK ADD  CONSTRAINT [RefT_BLOG_CONTENT11] FOREIGN KEY([BlogID])
REFERENCES [dbo].[T_BLOG_CONTENT] ([BlogID])
GO
ALTER TABLE [dbo].[T_BLOG_COLLECT] CHECK CONSTRAINT [RefT_BLOG_CONTENT11]
GO
ALTER TABLE [dbo].[T_BLOG_COLLECT]  WITH CHECK ADD  CONSTRAINT [RefT_USER10] FOREIGN KEY([Collecter])
REFERENCES [dbo].[T_SYS_USER] ([UserID])
GO
ALTER TABLE [dbo].[T_BLOG_COLLECT] CHECK CONSTRAINT [RefT_USER10]
GO
ALTER TABLE [dbo].[T_BLOG_COMMENT]  WITH CHECK ADD  CONSTRAINT [RefT_BLOG_CONTENT15] FOREIGN KEY([BlogID])
REFERENCES [dbo].[T_BLOG_CONTENT] ([BlogID])
GO
ALTER TABLE [dbo].[T_BLOG_COMMENT] CHECK CONSTRAINT [RefT_BLOG_CONTENT15]
GO
ALTER TABLE [dbo].[T_BLOG_COMMENT]  WITH CHECK ADD  CONSTRAINT [RefT_USER14] FOREIGN KEY([ReplyUserID])
REFERENCES [dbo].[T_SYS_USER] ([UserID])
GO
ALTER TABLE [dbo].[T_BLOG_COMMENT] CHECK CONSTRAINT [RefT_USER14]
GO
ALTER TABLE [dbo].[T_BLOG_CONTENT]  WITH CHECK ADD  CONSTRAINT [RefT_USER8] FOREIGN KEY([CreateUser])
REFERENCES [dbo].[T_SYS_USER] ([UserID])
GO
ALTER TABLE [dbo].[T_BLOG_CONTENT] CHECK CONSTRAINT [RefT_USER8]
GO
ALTER TABLE [dbo].[T_BLOG_CONTENT]  WITH CHECK ADD  CONSTRAINT [RefT_USER9] FOREIGN KEY([UpdateUser])
REFERENCES [dbo].[T_SYS_USER] ([UserID])
GO
ALTER TABLE [dbo].[T_BLOG_CONTENT] CHECK CONSTRAINT [RefT_USER9]
GO
ALTER TABLE [dbo].[T_BLOG_LOOK]  WITH CHECK ADD  CONSTRAINT [RefT_BLOG_CONTENT13] FOREIGN KEY([BlogID])
REFERENCES [dbo].[T_BLOG_CONTENT] ([BlogID])
GO
ALTER TABLE [dbo].[T_BLOG_LOOK] CHECK CONSTRAINT [RefT_BLOG_CONTENT13]
GO
ALTER TABLE [dbo].[T_BLOG_LOOK]  WITH CHECK ADD  CONSTRAINT [RefT_USER12] FOREIGN KEY([RederID])
REFERENCES [dbo].[T_SYS_USER] ([UserID])
GO
ALTER TABLE [dbo].[T_BLOG_LOOK] CHECK CONSTRAINT [RefT_USER12]
GO
ALTER TABLE [dbo].[T_BLOG_TAG]  WITH CHECK ADD  CONSTRAINT [RefT_USER6] FOREIGN KEY([CreateUser])
REFERENCES [dbo].[T_SYS_USER] ([UserID])
GO
ALTER TABLE [dbo].[T_BLOG_TAG] CHECK CONSTRAINT [RefT_USER6]
GO
ALTER TABLE [dbo].[T_BLOG_TAG]  WITH CHECK ADD  CONSTRAINT [RefT_USER7] FOREIGN KEY([UpdateUser])
REFERENCES [dbo].[T_SYS_USER] ([UserID])
GO
ALTER TABLE [dbo].[T_BLOG_TAG] CHECK CONSTRAINT [RefT_USER7]
GO
ALTER TABLE [dbo].[T_BLOG_TAG_REL]  WITH CHECK ADD  CONSTRAINT [RefT_BLOG_CONTENT23] FOREIGN KEY([BlogID])
REFERENCES [dbo].[T_BLOG_CONTENT] ([BlogID])
GO
ALTER TABLE [dbo].[T_BLOG_TAG_REL] CHECK CONSTRAINT [RefT_BLOG_CONTENT23]
GO
ALTER TABLE [dbo].[T_BLOG_TAG_REL]  WITH CHECK ADD  CONSTRAINT [RefT_BLOG_TAG24] FOREIGN KEY([TagID])
REFERENCES [dbo].[T_BLOG_TAG] ([TagID])
GO
ALTER TABLE [dbo].[T_BLOG_TAG_REL] CHECK CONSTRAINT [RefT_BLOG_TAG24]
GO
ALTER TABLE [dbo].[T_PERSONAL]  WITH CHECK ADD  CONSTRAINT [RefT_DD_AREA2] FOREIGN KEY([AREA_ID])
REFERENCES [dbo].[T_SYS_AREA] ([AREA_ID])
GO
ALTER TABLE [dbo].[T_PERSONAL] CHECK CONSTRAINT [RefT_DD_AREA2]
GO
ALTER TABLE [dbo].[T_PERSONAL]  WITH CHECK ADD  CONSTRAINT [RefT_USER16] FOREIGN KEY([CreateUser])
REFERENCES [dbo].[T_SYS_USER] ([UserID])
GO
ALTER TABLE [dbo].[T_PERSONAL] CHECK CONSTRAINT [RefT_USER16]
GO
ALTER TABLE [dbo].[T_PERSONAL]  WITH CHECK ADD  CONSTRAINT [RefT_USER17] FOREIGN KEY([UpdateUser])
REFERENCES [dbo].[T_SYS_USER] ([UserID])
GO
ALTER TABLE [dbo].[T_PERSONAL] CHECK CONSTRAINT [RefT_USER17]
GO
ALTER TABLE [dbo].[T_SYS_AREA]  WITH CHECK ADD  CONSTRAINT [RefT_DD_AREA1] FOREIGN KEY([BELONG_AREA_ID])
REFERENCES [dbo].[T_SYS_AREA] ([AREA_ID])
GO
ALTER TABLE [dbo].[T_SYS_AREA] CHECK CONSTRAINT [RefT_DD_AREA1]
GO
ALTER TABLE [dbo].[T_SYS_USER]  WITH CHECK ADD  CONSTRAINT [RefT_PERSONAL3] FOREIGN KEY([PersonalID])
REFERENCES [dbo].[T_PERSONAL] ([PersonalID])
GO
ALTER TABLE [dbo].[T_SYS_USER] CHECK CONSTRAINT [RefT_PERSONAL3]
GO
ALTER TABLE [dbo].[T_SYS_USER]  WITH CHECK ADD  CONSTRAINT [RefT_USER18] FOREIGN KEY([CreateUser])
REFERENCES [dbo].[T_SYS_USER] ([UserID])
GO
ALTER TABLE [dbo].[T_SYS_USER] CHECK CONSTRAINT [RefT_USER18]
GO
ALTER TABLE [dbo].[T_SYS_USER]  WITH CHECK ADD  CONSTRAINT [RefT_USER19] FOREIGN KEY([UpdateUser])
REFERENCES [dbo].[T_SYS_USER] ([UserID])
GO
ALTER TABLE [dbo].[T_SYS_USER] CHECK CONSTRAINT [RefT_USER19]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客大类ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CATELOG', @level2type=N'COLUMN',@level2name=N'CatelogID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'大类名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CATELOG', @level2type=N'COLUMN',@level2name=N'CatelogName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CATELOG', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CATELOG', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CATELOG', @level2type=N'COLUMN',@level2name=N'UpdateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CATELOG', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CATELOG_REL', @level2type=N'COLUMN',@level2name=N'BlogID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客大类ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CATELOG_REL', @level2type=N'COLUMN',@level2name=N'CatelogID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客收藏ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_COLLECT', @level2type=N'COLUMN',@level2name=N'CollectID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'收藏状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_COLLECT', @level2type=N'COLUMN',@level2name=N'CollectState'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_COLLECT', @level2type=N'COLUMN',@level2name=N'BlogID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'收藏人ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_COLLECT', @level2type=N'COLUMN',@level2name=N'Collecter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'收藏时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_COLLECT', @level2type=N'COLUMN',@level2name=N'CollectTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客评论ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_COMMENT', @level2type=N'COLUMN',@level2name=N'CommentID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'被回复ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_COMMENT', @level2type=N'COLUMN',@level2name=N'PassiveID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'回复类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_COMMENT', @level2type=N'COLUMN',@level2name=N'ReplyType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'回复内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_COMMENT', @level2type=N'COLUMN',@level2name=N'ReplyComment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'回复状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_COMMENT', @level2type=N'COLUMN',@level2name=N'ReplyState'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_COMMENT', @level2type=N'COLUMN',@level2name=N'BlogID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'评论回复人ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_COMMENT', @level2type=N'COLUMN',@level2name=N'ReplyUserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'回复时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_COMMENT', @level2type=N'COLUMN',@level2name=N'ReplyTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CONTENT', @level2type=N'COLUMN',@level2name=N'BlogID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CONTENT', @level2type=N'COLUMN',@level2name=N'BlogTitle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CONTENT', @level2type=N'COLUMN',@level2name=N'BlogContent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CONTENT', @level2type=N'COLUMN',@level2name=N'BlogType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CONTENT', @level2type=N'COLUMN',@level2name=N'BlogState'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后一次编辑时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CONTENT', @level2type=N'COLUMN',@level2name=N'LastUptTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CONTENT', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CONTENT', @level2type=N'COLUMN',@level2name=N'CreateTIme'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CONTENT', @level2type=N'COLUMN',@level2name=N'UpdateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_CONTENT', @level2type=N'COLUMN',@level2name=N'UpdateTIme'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'浏览记录ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_LOOK', @level2type=N'COLUMN',@level2name=N'RecordID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_LOOK', @level2type=N'COLUMN',@level2name=N'BlogID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'浏览人ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_LOOK', @level2type=N'COLUMN',@level2name=N'RederID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后一次浏览时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_LOOK', @level2type=N'COLUMN',@level2name=N'ReadLastTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标签ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_TAG', @level2type=N'COLUMN',@level2name=N'TagID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标签名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_TAG', @level2type=N'COLUMN',@level2name=N'TagName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_TAG', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_TAG', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_TAG', @level2type=N'COLUMN',@level2name=N'UpdateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_TAG', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_TAG_REL', @level2type=N'COLUMN',@level2name=N'BlogID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标签ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_BLOG_TAG_REL', @level2type=N'COLUMN',@level2name=N'TagID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'人员ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_PERSONAL', @level2type=N'COLUMN',@level2name=N'PersonalID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'人员姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_PERSONAL', @level2type=N'COLUMN',@level2name=N'PersonalName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'性别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_PERSONAL', @level2type=N'COLUMN',@level2name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'出生年月' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_PERSONAL', @level2type=N'COLUMN',@level2name=N'Birthday'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'身份证号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_PERSONAL', @level2type=N'COLUMN',@level2name=N'IdCard'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'所属地区' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_PERSONAL', @level2type=N'COLUMN',@level2name=N'AREA_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'家庭地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_PERSONAL', @level2type=N'COLUMN',@level2name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'手机号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_PERSONAL', @level2type=N'COLUMN',@level2name=N'TelPhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_PERSONAL', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_PERSONAL', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_PERSONAL', @level2type=N'COLUMN',@level2name=N'UpdateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_PERSONAL', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'AREA_ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_AREA', @level2type=N'COLUMN',@level2name=N'AREA_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'AREA_TYPE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_AREA', @level2type=N'COLUMN',@level2name=N'AREA_TYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'AREA_NAME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_AREA', @level2type=N'COLUMN',@level2name=N'AREA_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'AREA_ORDER' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_AREA', @level2type=N'COLUMN',@level2name=N'AREA_ORDER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'sm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_AREA', @level2type=N'COLUMN',@level2name=N'sm'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'BELONG_AREA_ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_AREA', @level2type=N'COLUMN',@level2name=N'BELONG_AREA_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_CONFIG', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NM' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_CONFIG', @level2type=N'COLUMN',@level2name=N'NM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SUB_ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_CONFIG', @level2type=N'COLUMN',@level2name=N'SUB_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SUB_NM' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_CONFIG', @level2type=N'COLUMN',@level2name=N'SUB_NM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_USER', @level2type=N'COLUMN',@level2name=N'UserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_USER', @level2type=N'COLUMN',@level2name=N'UserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_USER', @level2type=N'COLUMN',@level2name=N'Password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'人员ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_USER', @level2type=N'COLUMN',@level2name=N'PersonalID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'QQ标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_USER', @level2type=N'COLUMN',@level2name=N'QQOpenid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_USER', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_USER', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_USER', @level2type=N'COLUMN',@level2name=N'UpdateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SYS_USER', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO
