<blockquote class="layui-elem-quote">修改密码</blockquote>
<div style="padding:10px;">
    <form class="layui-form" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="password" name="oldpassword" id="oldpwd" />
            </div>
        </div>  
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="password" name="newpwd1" id="newpwd" />
            </div>
        </div>  
        <div class="layui-form-item">
            <label class="layui-form-label">重复新密码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="password" name="newpwd2" id="newpwd2" />
            </div>
        </div>  
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="submit" onclick="return checkform()">修改密码</button>
                @Html.AntiForgeryToken()
            </div>
        </div>
    </form>
</div>

<script>
    function checkform() {
        var oldpwd = document.getElementById('oldpwd').value;
        var newpwd = document.getElementById('newpwd').value;
        var newpwd2 = document.getElementById('newpwd2').value;

        if (oldpwd == '' || newpwd == '' || newpwd2 == '') {
            alert("请把修改密码信息填写完整！");
            return false;
        }

        if (newpwd != newpwd2) {
            alert("两次次输入的密码不相同！");
            return false;
        }
 
        return true;
        
    }
</script>
