<div class="blog-main">
    <div class="heading-blog">
        The security is main concern while developing applications
    </div>
    <img src="/assets/img/1.jpg" class="img-responsive img-rounded" />
    <div class="blog-info">
        <span class="label label-primary">Posted on 26th November 2014</span>
        <span class="label label-success">In Technology</span>
        <span class="label label-danger">By Jhon</span>
        <span class="label label-info">
            <i class="fa fa-thumbs-up"></i>+ 10
            <i class="fa fa-thumbs-down"></i>-3
        </span>
    </div>
    <div class="blog-txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Fusce nec tellus non diam feugiat commodo. Sed auctor mauris a tristique imperdiet.
        Nullam egestas sapien non lectus suscipit, <i>
            tincidunt eget faucibus eget, vestibulum venenatis metus.
            Praesent efficitur quam aliquam mauris sagittis, vel lacinia
        </i>quis tristique odio imperdiet.
        Nullam elit lacus, tincidunt<strong>
            dolor sit amet, consectetur adipiscing elit.
            Fusce nec tellus non diam
        </strong> eget faucibus eget, vestibulum venenatis metus.
        Praesent efficitur quam aliquam mauris sagittis, vel lacinia risus luctus. Ut vitae bibendum ipsum.
    </div>
    <div class="blog-txt">
        Lorem ipsum<strong>
            dolor sit amet, consectetur adipiscing elit.
            Fusce nec tellus non diam
        </strong>  feugiat commodo. Sed auctor mauris a tristique imperdiet.
        Nullam egestas sapien non lectus suscipit, quis tristique odio imperdiet.
        Nullam elit lacus,<i>
            tincidunt eget faucibus eget, vestibulum venenatis metus.
            Praesent efficitur quam aliquam mauris sagittis, vel lacinia
        </i> risus luctus. Ut vitae bibendum ipsum.
    </div>
    <div class="blog-txt">
        Lorem ipsum<strong>
            dolor sit amet, consectetur adipiscing elit.
            Fusce nec tellus non diam
        </strong>  feugiat commodo. Sed auctor mauris a tristique imperdiet.
        Nullam egestas sapien non lectus suscipit, quis tristique odio imperdiet.
        Nullam elit lacus,<i>
            tincidunt eget faucibus eget, vestibulum venenatis metus.
            Praesent efficitur quam aliquam mauris sagittis, vel lacinia
        </i> risus luctus. Ut vitae bibendum ipsum.
    </div>
</div>
<!--BLOG MAIN SECTION END-->

<h3><strong>Recent Comments :</strong></h3>
<hr />
<ul class="media-list">
    <li class="media">
        <a class="pull-left" href="#">
            <img class="media-object img-circle" src="/assets/img/user2.png" />
        </a>
        <div class="media-body">
            <h4 class="media-heading">Vestibulum et eros consectetur</h4>
            <p>
                Donec sit amet ligula enim. Duis vel condimentum massa.
                Maecenas eget congue dui. Vestibulum et eros consectetur,
                interdum nibh et, volutpat dolor.
            </p>
        </div>
    </li>
    <!-- COMMENT SECTION - ONE END-->
    <li class="media">
        <a class="pull-left" href="#">
            <img class="media-object img-circle" src="/assets/img/user.gif" />
        </a>
        <div class="media-body">
            <h4 class="media-heading">Lorem ipsum dolor sit amet</h4>
            <p>
                Donec sit amet ligula enim. Duis vel condimentum massa.
                Maecenas eget congue dui. Vestibulum et eros consectetur,
                interdum nibh et, volutpat dolor.
            </p>
            <!-- Nested media object -->
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object img-circle" src="/assets/img/user2.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Nulla gravida vitae neque </h4>
                    Donec sit amet ligula enim. Duis vel condimentum massa.
                    Maecenas eget congue dui. Vestibulum et eros consectetur,
                    interdum nibh et, volutpat dolor.
                    <!-- Nested media object -->
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="/assets/img/user.gif" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Donec sit amet ligula enim</h4>
                            Donec sit amet ligula enim. Duis vel condimentum massa.
                            Maecenas eget congue dui. Vestibulum et eros consectetur,
                            interdum nibh et, volutpat dolor.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Nested media object -->
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object img-circle" src="/assets/img/user2.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Vestibulum et eros consectetur</h4>
                    Donec sit amet ligula enim. Duis vel condimentum massa.
                    Maecenas eget congue dui. Vestibulum et eros consectetur,
                    interdum nibh et, volutpat dolor.
                </div>
            </div>
        </div>
    </li>
    <!-- COMMENT SECTION - TWO END-->
    <li class="media">
        <a class="pull-left" href="#">
            <img class="media-object img-circle" src="/assets/img/user.gif" />
        </a>
        <div class="media-body">
            <h4 class="media-heading">Vestibulum et eros consectetur</h4>
            <p>
                Donec sit amet ligula enim. Duis vel condimentum massa.
                Maecenas eget congue dui. Vestibulum et eros consectetur,
                interdum nibh et, volutpat dolor.
            </p>
        </div>
    </li>
    <!-- COMMENT SECTION - THREE END-->
</ul>
<!--COMMENTS SECTION END-->
