@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="eng" lang="eng">
<head> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="大鸭梨博客" />
    <meta name="author" content="Allen" />
    <meta name="keywords" content="大鸭梨博客,大鸭梨,大鸭梨Blog,dayali" />
    <title>大鸭梨博客</title>
    <link rel="stylesheet" media="screen" href="~/css/style.css" type="text/css" />
</head> 
<body> 
<div class="controller">
    <div class="objects"> 
        <!-- text area -->
        <div class="text-area rotate">
            <p class="error">Error 404</p>
            <p class="details">There was a problem<br /><br />The page you are looking for is not here or moved.</p> 
        </div> 
        <!-- text area -->
        <!-- home page --> 
        <div class="homepage rotate">
            <a href="./Index">Back to homepage</a> 
        </div> <!-- home page --> 
    </div>
</div> 
</body>
</html>

